
html {
    scroll-behavior: smooth;
    margin: 0px;
}
body {
    background: url(../images/constellation.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.logo {
    margin: 0px;
    font-size: 4rem;
    text-align: center;
    color: blanchedalmond;
    font-family: 'lakeshoredriveregular', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: 10px 10px 10px black;
}
.gallery--item_image {
    display:block;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
}
.detailed_image {
    width: 12rem;
    height: 12rem;
    font-size: 0;
    object-fit: cover;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.detailedContainer--title {
    display: block;
    background-color: blanchedalmond;
    margin-bottom: 0.5rem;
    width: 12rem;
    line-height: 1;
    padding-bottom: 0.4rem;
    font-family: 'airstream_nfregular', sans-serif;
    font-style: italic;
    font-weight: normal;
    text-wrap: pretty;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.detailed_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.gallery{
    list-style: none;
    overflow: scroll;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0px;
}
.gallery--item:hover {
    filter: blur(5px);
}
.detailed_image:hover {
    filter: blur(5px);
}
.gallery--item_title {
    display: block;
    width: 7rem;
    text-align: center;
    background-color: blanchedalmond;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.gallery--item {
    display: flex;
    border: 3px solid blanchedalmond;
    border-radius: 30px;
    overflow: hidden;
    width: 7rem;
    height: fit-content;
    margin: 5px 0 5px 0;
}
@media screen and (min-width: 480px) {

    .detailed_container {
        position: absolute;
        width: 19rem;
        margin-top: 1rem;
        margin-left: 33vw;
    }

    .detailedContainer--title:hover {
        white-space: normal;
        text-overflow: clip;
        overflow: visible;
    }
    .detailed_image {
        width: 19rem;
        height: 19rem;
    }
    .detailedContainer--title {
        width: 19rem;
        font-size: 1.5rem;
    }
    .gallery--item {
        justify-content:space-around;
        width: 7rem;
        overflow: hidden;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .gallery {
        display: flex;
        flex-direction: row;
        width: 30vw;
    }
}
@media screen and (min-width: 850px) {

    .detailed_container {
        margin: 2vh 0 0 45vw;
    }
    .detailed_image {
        width: 40rem;
        height: 25rem;
    }
    .detailedContainer--title {
        width: 40rem;
    }
    .gallery {
        width: 25vw;
        margin-left: 3rem;
    }
}
