body {
    margin: 0;
}
  
div {
    margin: 30px;
    text-align: center;
    font-family: "Oi", serif;
    font-size: 6rem;
    text-transform: uppercase;
    background-image: url(https://ie.wampi.ru/2023/10/10/gepard.jpg);
    color:transparent;
    line-height: 1;
    -webkit-background-clip: text;
    background-attachment: fixed;
    background-position: 0 -100px;
    background-size: 10em;
}
